:root {
    --font-size: 16px;
    --border-radius: 8px;
    --ombre: 0 4px 8px rgba(0, 0, 0, 0.2);
    --transition: 0.3s;
    --hauteur: 400px;
    --largeur:400px;
    --couleur-de-fond: rgba(65, 97, 201, 0.3);
    --couleur_bouton: #0776f5
}

body {
    background-color: rgba(110, 126, 177, 0.3);
}

h1 {
  width: 100%;
  background-color: #1d1c1c;
  margin-top: 0;
  padding-bottom: 10px;
  /*height: 400px;*/
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

#div-modal {
  padding-bottom: 8px;
  gap: 5px;
}

/* ===============================
        MIS EN FORME BTN
================================*/

.btn {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 8px 20px rgba(1, 1, 0, 0.3);
    background-color: rgb(116, 109, 156);    
    border: none;
    border-radius: 5px;    
}


a {
    text-decoration: none;   
    color :rgba(22, 26, 25);
    
}


/* debut style pour la boite de dialogue */

* {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none; 
  cursor: pointer; 
  opacity: 0.9;
  border-radius: 2px; 
  transition: opacity 0.5s ease;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .validatebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.validatebtn {
  background-color: #3434c6;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal ( background ) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  inset: 0;
 
  justify-content : center;
  align-items: center;
  overflow: hidden; /* Enable scroll if needed */

  /* Fond semi-transparent */
  background: rgba(0, 0, 0, 0.30);

     /* Flou de l'arrière-plan */
  backdrop-filter: blur(1px);
  padding-top: 20px;

  box-shadow: 5px 5px rgba(45, 34, 34, 0.3);
   
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  position: relative;
  border-radius: 7px;
  max-width: 550px;

}

.modal-content label, input {
  
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;

}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #f44326;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .validatebtn {
    width: 100%;
  }
}
/* Fin style pour la boite de dialogue */

.text-danger {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: block;
}

/* Base alert style */
.alert {
    padding: 15px 20px;
    border-radius: 5px;
    margin: 15px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
}

/* Success alert style */
.alert-success {
    width: 20%;
    background: #d1e7dd;
    color: #0f5132;
    padding: 15px;
    border: 1px solid #badbcc;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #db2222;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.box {
  position: relative;
  left: 100px;
}


/* Gestion du Toast */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;

    width: 350px;
    max-width: 90%;

    background: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    border-left: 6px solid #198754;
    border-radius: 8px;

    padding: 15px 40px 15px 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,.2);

    opacity: 0;
    transform: translateX(120%);
    transition: all .5s ease;

    z-index: 9999;
}

/* Lorsque le toast est visible */
.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-progress{
    position:absolute;
    bottom:0;
    left:0;
    height:4px;
    width:100%;
    background:#198754;
    animation:progress 4s linear forwards;
}

@keyframes progress{
    from{
        width:100%;
    }
    to{
        width:0%;
    }
}

#mis_a_jr {
  background-color: var(--couleur_bouton);
}

#pointage_excel {
  background-color: var(--couleur_bouton);
}



table {
  border-collapse: collapse;
  width: max-content;
}

table, td, th {
  border: 1px solid gray;
}

th, td { 
  text-align: center;
  padding: 3px 5px;
}

th {
  background-color: #b6e2fc70;    
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: rgba(223, 133, 100, .8); cursor: pointeur;}


/*=======================================
         MIS EN FORME DE SELECT
=========================================*/

.champ {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.champ label {
  text-align: justify;
  padding-left: inherit;
  margin-top: 20px;
  font-size: medium;
}

.champ select {
    padding: 5px;
    width: stretch;
    cursor: pointer;
}

.filter {
  display: flex;  
  margin-top: 20px;
  gap: 5px;
}

