:root {
    --font-size: 16px;
    --border-radius: 8px;
    --ombre: 0 4px 8px rgba(0, 0, 0, 0.2);
    --transition: 0.3s;
    --hauteur: 400px;
    --largeur:400px;
    --couleur-de-fond: rgba(65, 97, 201, 0.3);
}

body {
    background-color: rgba(110, 126, 177, 0.3);
}


.btn {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 8px 20px rgba(1, 1, 0, 0.3);
    background-color: rgb(63, 219, 211);
    /* font-weight: normal;     */
    border: 1px solid white
}

a {
    text-decoration: none;   
    color :rgba(22, 26, 25);
    
}


.card {
    border-radius: var(--border-radius);
    box-shadow: var(--ombre);
    transition: var(--transition);
}


.perimetre {
    height: var(--hauteur);
    width: var(--largeur);
    background-color: var(--couleur-de-fond);
}
